* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-bg: #252936;
    --primary: #ff5555;
}

body {
    font-family: sans-serif;
    text-align: center;
}

h1,
h2 {
    color: var(--primary);
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 2rem;
}

input,
button,
.fake-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--dark-bg);
    color: #ffffff;
    border: none;
    text-decoration: none;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #3c4d4f;
}

html,
body {
    height: 100%;
}


.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode button,
.dark-mode .fake-button {
    background-color: #b2c1d0;
    color: black;
}

.dark-mode button:hover,
.dark-mode .fake-button:hover {
    background-color: #919dab;
}

.dark-mode h1 {
    color: var(--primary);
}

.dark-mode input {
    background-color: var(--dark-bg);
    color: #fff;
}

.dark-mode dialog {
    background-color: var(--dark-bg);
    color: #fff;
    text-align: left;
}

.rules {
    padding: 50px 15%;
}

.rules p,
.rules li {
    line-height: 1.75;
        text-align: left;
}

.rules ul {
    list-style: none;
}

ul ul > li {
    margin-left: 60px; 
    color: #BBB;
}

ul ul > li::before {
    content: "💠";
}

p.closing-msg {
    color: #BBB;
    font-style: italic;
    font-weight: 600;
}

.suit {
    font-size: 26px;
}

.highlight {
    color: var(--primary);
    font-weight: 700;
}

.rules-ps {
    margin: 20px 50px;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    border-radius: 8px;
}

.rules-ps p {
    margin: 5px 0;
    padding: 0;
}

.start-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.rules-footer {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
